*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    padding: 65px 0 0 0;
    overflow-y: scroll;
}
/* Navbar */
.navbar{
    background-color: yellow;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.navbar-brand{
    font-size: 1.7rem;
    font-weight: 500;
    /* margin: 0 5px; */
}
.navbar-brand img{
    width: 30px;
    margin: 0 7px;
}
.collapse .nav-link{
    font-size: 1.2rem;
    margin: 0 20px;
}
.user{
    width: 250px;
    font-size: 1.2rem;
    text-align: center;
    border-left: 2px solid #000;
}
.user span{
    margin: 0 20px;
    padding: 0 8px;
    opacity: 0.7;
}
.user img{
    width: 30px;
    margin: 0 7px;
}
.user a{
    color: #000;
}
.user span:hover{
    cursor: pointer;
    color: #000;
}
/* Section 1 */
.can img{
    position: relative;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
    box-shadow: 0 10px 10px yellow;
}
.search{
    position: absolute;
    top: 15%;
    left: 30%;
    right: 30%;
    width: 45%;
    height: 70px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.search input{
    width: 45%;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    padding: 0 10px;
}
.search button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: yellow;
    border: 2px solid #5e5c5c;
    font-size: 1.2rem;
    border-radius: 10px;
}
.search button:hover{
    cursor: pointer;
    font-size: 1.5rem;
}
/* Section 1-Heading */
.text{
    margin: 20px 0;
    text-align: center;
    font-weight: 700;
}
.text h1{
    font-size: 3rem;
}
.text span{
    color: yellow;
}
.text p{
    font-size: 1.3rem;
    margin: 10px 0;
}
/* Login Form down*/
.modal-content{
    width: 50vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 20px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
    padding: 20px;
}
.modal-header{
    border: none;
}
.modal-header .btn-close{
    position: relative;
    top: -40px;
    left: 5%;
}
.modal-header h1{
    font-weight: 600;
    position: relative;
    left: 30%;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-body label{
    font-size: 1.2rem;
    /* margin: 5px 0; */
}
.modal-body input{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid gray;
    margin: 5px 0 15px;
}

/* Section 2  Containers*/
.container{
    width: 60vw;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    transform: translateY(-100px);
}
.container .box{
    width: 170px;
    height: 150px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 10px 0;
    transition: all 0.3s ease;
    padding: 10px;
}
.container .box i{
    text-align: center;
    font-size: 5rem;
    width: 100%;
    color: yellow;
}
.container .box p{
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    color: yellow;
}
.container .box:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border: 3px solid yellow;
}
/* Section 3 */
section{
    width: 100%;
    height: 55vh;
    margin-top: 50px;
}
section a{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}
.nearby{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nearby .card{
    overflow: hidden;
    margin: 0 5px;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.card-body{
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    background-color: yellow;
}
.card i{
    text-align: center;
    font-size: 5rem;
    color: #000;
    margin: 40px 0;
}
.card #text2{
    font-size: 1.2rem;
    color: #000;
}
.card-footer{
    background-color: yellow;
    height: 100px;
    margin: -30px 0 0 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.card:hover{
    cursor: pointer;
    border: 5px solid yellow;
}
.card:hover .card-footer{
    border: none;
    background-color: rgb(255, 238, 0);
}
/* Section 4 */
.docs{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-color: rgb(197, 196, 196);
    color: yellow;
    padding-top: 10px;
}
.docs h1{
    font-size: 3rem;
    margin: 50px 0;
    color: #000;

}
.container1{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card1{
    width: 30%;
    height: 100%;
    padding: 40px;
}
.card1 i{
    text-align: center;
    font-size: 6rem;
}
.card1 h5{
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: 600;
    height: 60px;
    width: 100%;
}
.card1 p{
    color: #000;
    font-size: 1.2rem;
    height: 100px;
    width: 100%;
}
.card1 .btn{
    border-radius: 30px;
    padding: 5px 50px;
    border: 2px solid yellow;
    color: yellow;
    font-size:1.5rem;
    font-weight: 600;
}
.card1:hover .btn{
    background-color: yellow;
    color: #000;
}