*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    padding: 65px 0 0 0;
    overflow-y: scroll;
}
a{
    text-decoration: none;
}
/* Navbar */
.navbar{
    background-color: yellow;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.navbar-brand{
    font-size: 1.7rem;
    font-weight: 500;
}
.navbar-brand img{
    width: 30px;
    margin: 0 7px;
}
.collapse .nav-link{
    font-size: 1.2rem;
    margin: 0 20px;
}
.user{
    width: 250px;
    font-size: 1.2rem;
    text-align: center;
    border-left: 2px solid #000;
}
.user span{
    margin: 0 20px;
    padding: 0 10px;
    opacity: 0.7;
}
.user img{
    width: 30px;
    margin: 0 7px;
}
.user a{
    color: #000;
}
.user span:hover{
    cursor: pointer;
    color: #000;
}
/* Login Form down*/
.modal-content{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.modal-header{
    border: none;
}
.modal-header .btn-close{
    transform: translateY(-30px);
}
.modal-header h1{
    font-weight: 600;
    position: relative;
    left: 35%;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.cont{
    display: flex;
    flex-direction: column;
}
.modal-body label{
    font-size: 1.2rem;
}
.modal-body input{
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid gray;
    margin: 5px 0 15px;
}
.modal-body #sqr{
    width: 120px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    top:-23px;
    background-color: #fff;
}
.modal-body a{
    text-align: start;
    font-size: 1rem;
    color: #005cfc;
    margin:-5px 0 10px 0;
}
.modal-body .btn-warning{
    font-size: 1.2rem;
    border-radius: 25px;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease;
}
.modal-body p{
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid gray;
}
.modal-body div{
    display: flex;
    justify-content: space-evenly;
    height: 20%;
}
.modal-body .log{
    width: 45%;
    height: 40px;
    border: 2px solid gray;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.3s ease;
    background:none;
}
.modal-body img{
    margin: -3px 5px 0 0;
}
 /* Login form Up */ 
/* Section 1 */
.can img{
    position: relative;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
    box-shadow: 0 10px 10px yellow;
}
.search{
    position: absolute;
    top: 15%;
    left: 30%;
    right: 30%;
    width: 45%;
    height: 70px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.search form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search input{
    width: 45%;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    padding: 0 10px;
}
.search button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: yellow;
    border: 2px solid #5e5c5c;
    font-size: 1.2rem;
    border-radius: 10px;
}
.search button:hover{
    cursor: pointer;
    font-size: 1.5rem;
}
/* Section 1-Heading */
.text{
    margin: 20px 0;
    text-align: center;
    font-weight: 700;
}
.text h1{
    font-size: 3rem;
}
.text span{
    color: yellow;
}
.text p{
    font-size: 1.3rem;
    margin: 10px 0;
}
/* Section 2  Containers*/
.container{
    width: 60vw;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    transform: translateY(-100px);
}
.container .box{
    width: 170px;
    height: 150px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 10px 0;
    transition: all 0.3s ease;
    padding: 10px;
}
.container .box i{
    text-align: center;
    font-size: 5rem;
    width: 100%;
    color: yellow;
}
.container .box p{
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    color: yellow;
}
.container .box:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border: 3px solid yellow;
}
/* Section 3 */
#Pets{
    width: 100%;
    height: a;
    /* background-color: #fff; */
    padding: 20px;

}
section a{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}
.nearby{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nearby .card{
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    width: 238px;
}
.card-body{
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    background-color: yellow;
}
.card i{
    text-align: center;
    font-size: 3.5rem;
    color: #000;
    margin: 40px 0;
}
.card #text2{
    font-size: 1.2rem;
    color: #000;
}
#meet{
    width:238px;
}
.card-footer{
    background-color: yellow;
    height: 60px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.card:hover{
    cursor: pointer;
    border: 5px solid yellow;
}
.card:hover .card-footer{
    border: none;
    background-color: rgb(255, 238, 0);
}
/* Section 4 */
.docs{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(197, 196, 196);
    color: yellow;
    padding-top: 10px;
}
.docs h1{
    font-size: 3rem;
    margin: 50px 0;
    color: #000;

}
.container1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card1{
    width: 30%;
    height: 100%;
    padding: 40px;
}
.card1 i{
    text-align: center;
    font-size: 6rem;
}
.card1 h5{
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: 600;
    height: 60px;
    width: 100%;
}
.card1 p{
    color: #000;
    font-size: 1.2rem;
    height: 100px;
    width: 100%;
}
.card1 .btn{
    border-radius: 30px;
    padding: 5px 50px;
    border: 2px solid yellow;
    color: yellow;
    font-size:1.5rem;
    font-weight: 600;
}
.card1:hover .btn{
    background-color: yellow;
    color: #000;
}
/* Media Querry for max-width 1025px */
@media(max-width:1025px){
    .navbar-brand{
        font-size: 1.rem;
    }
    .user{
        text-align: center;
    }
    .user span{
        margin:0 5px;
    }
    .container1 .card1{
        width: 300px;
        height: 100%;
        padding: 20px;
    }
    .nearby .card{
        margin: 10px 10px;
    }
}
/* Media Querry for max-width 740px */
@media(max-width:740px){

    .user{
        border: none;
        /* margin: none; */
        text-align: left;
    }
    .user span{
        margin:0 10px;
    }
    .can img{
        height: 40vh;
    }
    .search{
        top: 12%;
        left: 20%;
        right: 20%;
        width: 60%;
        height: 55px;
    }
    .search input{
        width: 90%;
        height: 40px;
        font-size: 1rem;
    }
    #pin{
        display: none;
    }
    .search button{
        width: 40px;
        height: 40px;
        font-size: 1rem;
        /* margin-bottom: 5px; */
    }
    .text h1{
        font-size: 2rem;
    }
    .text p{
        font-size: 1rem;
    }
    .container{
        width: 100%;
        height: 150px;
    }
    .container .box{
        width: 150px;
        height: 120px;
    }
    .container .box i{
        font-size: 4rem;
    }
    .container .box p{
        font-size: 1rem;
    }
    .nearby{
        height: 100%;
    }
    .nearby .card{
        margin: 10px 5px;
    }
    .docs{
        width: 100%;
    }
    .docs h1{
        font-size: 2rem;
    }
    .container1{
        width: 100%;
    }
    .container1 .card1{
        width: 80%;
        height: 100%;
        padding: 20px;
    }
    .card1 i{
        font-size: 5rem;
    }
    .card1 h5{
        font-size: 1.2rem;
        margin: 10px 0;
        height: 40px;
    }
    .card1 p{
        font-size: 1rem;
        height: 80px;
    }
    .card1 button{
        font-size: 1.2rem;
        padding: 5px 30px;
    }
}
/* Media Querry for max-width 500px */
@media(max-width:540px){
    .can img{
        height: 45vh;
    }
    #Pets{
        padding: 0;
    }
    .nearby .card{
        width: 45%;
    }
    .nearby .card-text{
        font-size: 1.2rem;
    }
    .nearby .card i{
        font-size: 3.6rem;
    }
    .nearby .card #text2{
        font-size: 1rem;
    }
    .nearby .card-footer{
        font-size: 1rem;
    }
    .nearby #meet{
        width: 100%;
    }
    .text-success{
        height: 250px;
    }
    .card .card-footer{
        font-size: 1.2rem;
        text-align: center;
        height: 40%;
    }
}
.foot{
    width: 100%;
    height: 50vh;
    background-color: yellow;
    padding: 30px;
}
.foot .container-fluid{
    width: 100%;
    height: 30vh;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.foot .pages{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.foot #brand{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    padding-left: 10px;
}
.foot #btm{
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    padding-left: 10px;
    text-align: center;
}
.foot .pages .items{
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.pages ul{
    list-style: none;
    padding: 0;
    height: 100%;
}
.pages li{
    padding: 5px 5px 5px 0;
    cursor: pointer;
    text-decoration: none;
}
.pages a{
    font: 1.2rem;
    text-decoration: none;
    color: #000;
}
.foot .mail{
    width:25%;
    padding: 20px;
}
.box{
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.foot .btn{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(40, 39, 39);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}